{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
<link rel="stylesheet" type="text/css" href="style.css"/>
    <style>h1{
    color:violet;
    background-color:yellow;
    }
</style>
</head>
<body>
<div class="module">
    <h1>Complete registration</h1><br/><br/>
    <a href="/addstudent" ><button type="button" name="button"><b><u>addstudent</u></b></button></a><br/><br/>
    <a href="/addvendor" ><button type="button" name="button"><b><u>addvendor</u></b></button></a><br/><br/>

</div>
</body>
</html>